In [ ]:
import pandas as pd
import csv
import os
from sqlalchemy import create_engine 
import numpy as np

In [191]:
path=os.path.join("Resources", "arches.csv")
arches_np = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
arches_np.head()


arches = arches_np.loc[arches_np['Year'] >= 2015]
arches

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,Total Vehicles entering Park,2020,"11,821","17,602","30,199",0,"5,123","60,626","71,777","60,873","75,433","74,032",NaN,NaN
1,Total Vehicles entering Park,2019,"8,957","12,404","48,683","62,075","77,937","80,044","75,595","66,414","72,792","60,779","30,459","16,367"
2,Total Vehicles entering Park,2018,"13,218","16,662","49,688","61,540","76,917","75,982","74,023","65,659","72,394","59,750","30,678","17,403"
3,Total Vehicles entering Park,2017,"8,873","15,853","47,326","57,145","67,916","68,984","69,555","63,890","66,209","55,339","30,194","18,374"
4,Total Vehicles entering Park,2016,"8,439","13,788","43,906","55,570","72,014","74,475","74,352","66,669","70,603","58,893","28,693","13,657"
5,Total Vehicles entering Park,2015,"8,533","14,200","37,963","50,638","63,771","66,293","68,489","60,492","58,014","45,639","20,164","11,224"

In [193]:
arches = arches_np.loc[arches_np['Year'] > 2015]
arches

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,Total Vehicles entering Park,2020,"11,821","17,602","30,199",0,"5,123","60,626","71,777","60,873","75,433","74,032",NaN,NaN
1,Total Vehicles entering Park,2019,"8,957","12,404","48,683","62,075","77,937","80,044","75,595","66,414","72,792","60,779","30,459","16,367"
2,Total Vehicles entering Park,2018,"13,218","16,662","49,688","61,540","76,917","75,982","74,023","65,659","72,394","59,750","30,678","17,403"
3,Total Vehicles entering Park,2017,"8,873","15,853","47,326","57,145","67,916","68,984","69,555","63,890","66,209","55,339","30,194","18,374"
4,Total Vehicles entering Park,2016,"8,439","13,788","43,906","55,570","72,014","74,475","74,352","66,669","70,603","58,893","28,693","13,657"

In [213]:
path=os.path.join("Resources", "black_canyon.csv")
black_canyon = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
black_canyon.head()


black_canyon = black_canyon.loc[black_canyon['Year'] >= 2015]
black_canyon.loc[black_canyon['Year'] == 2020].sum(axis=0)

GroupDescription    TRAFFIC COUNT AT NORTH RIM DRIVE COUNTERTRAFFI...
Year                                                             4040
JAN                                                            02,624
FEB                                                            03,846
MAR                                                            02,579
APR                                                            09,055
MAY                                                        1,4339,055
JUN                                                        1,9699,558
JUL                                                       3,43121,304
AUG                                                       2,07622,235
SEP                                                       3,03417,882
OCT                                                       2,59417,730
NOV                                                                 0
DEC                                                                 0
dtype: object

In [219]:
bc_by_year = black_canyon.sort_values(by='Year', ascending=False)
bc_by_year = black_canyon.groupby.sum()
bc_by_year
# black_canyon.columns

AttributeError: 'function' object has no attribute 'sum'

In [ ]:
path=os.path.join("Resources", "canyonlands.csv")
canyonlands = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
canyonlands.head()


canyonlands = canyonlands.loc[canyonlands['Year'] >= 2010]
canyonlands

In [ ]:
# canyonlands_sum = canyonlands.sort_values(by='Year', ascending=False)
# canyon_lands = canyonlands_sum.drop(['GroupDescription'], axis=1)
# canyon_lands = canyon_lands.sum(axis=0)['JAN']
# canyon_lands


canyon_lands = canyonlands.drop(['GroupDescription'], axis=1)
canyon_lands = canyon_lands.set_index('Year')
canyon_lands = canyon_lands.sort_values(by='Year', axis=0, ascending=True)

In [190]:
canyon_lands = canyon_lands.groupby(['Year'], axis=0, as_index=False)
canyon_lands.sum(0, 12)
canyon_lands.head()

KeyError: 'GroupDescription'

In [31]:
path=os.path.join("Resources", "bryce_canyon.csv")
bryce_canyon = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
bryce_canyon.head()


bryce_canyon = bryce_canyon.loc[bryce_canyon['Year'] >= 2010]
bryce_canyon

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT AT ENTRANCE STATION,2020,"12,773","14,838","19,539","1,843","31,079","61,326","68,488","62,073","81,766","85,030","34,418",NaN
1,TRAFFIC COUNT AT ENTRANCE STATION,2019,"13,352","10,641","29,953","60,159","78,907","82,213","84,178","83,917","86,281","68,963","26,118","16,922"
2,TRAFFIC COUNT AT ENTRANCE STATION,2018,"12,661","13,928","39,295","61,372","83,011","82,930","86,940","82,001","85,188","64,591","28,846","17,500"
3,TRAFFIC COUNT AT ENTRANCE STATION,2017,"10,063","12,093","32,473","46,060","80,168","74,122","85,434","85,862","82,897","65,127","29,303","19,639"
4,TRAFFIC COUNT AT ENTRANCE STATION,2016,"9,423","12,677","36,241","50,679","76,701","82,180","84,035","82,617","82,666","66,588","26,777","15,244"
5,TRAFFIC COUNT AT ENTRANCE STATION,2015,"8,486","11,056","24,449","48,077","67,515","93,499","80,986","76,505","75,076","55,799","18,957","13,432"
6,TRAFFIC COUNT AT ENTRANCE STATION,2014,"7,259","8,136","21,558","39,829","57,567","67,261","70,366","74,334","67,677","50,602","18,621","11,642"
7,TRAFFIC COUNT AT ENTRANCE STATION,2013,"5,846","6,717","20,643","35,204","59,794","65,942","72,869","67,125","63,500","26,696","15,000","9,791"
8,TRAFFIC COUNT AT ENTRANCE STATION,2012,"6,402","7,164","16,823","37,408","56,659","61,512","68,718","66,480","73,007","44,813","14,620","8,793"
9,TRAFFIC COUNT AT ENTRANCE STATION,2011,"5,614","5,938","14,311","32,492","50,398","62,224","69,159","69,705","61,101","42,338","13,041","8,349"
10,TRAFFIC COUNT AT ENTRANCE STATION,2010,"5,390","6,132","15,423","30,010","57,375","59,394","75,700","68,304","65,501","34,543","12,248","6,480"
28,TRAFFIC COUNT AT RAINBOW GATE,2015,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,TRAFFIC COUNT AT RAINBOW GATE,2014,0,0,0,0,0,0,0,0,0,0,0,0
30,TRAFFIC COUNT AT RAINBOW GATE,2013,0,0,0,0,0,0,0,0,0,0,0,0
31,TRAFFIC COUNT AT RAINBOW GATE,2012,0,0,0,0,0,0,0,0,0,0,0,0
32,TRAFFIC COUNT AT RAINBOW GATE,2011,0,0,0,0,0,0,0,0,0,0,0,0
33,TRAFFIC COUNT AT RAINBOW GATE,2010,0,0,0,0,0,0,0,0,0,0,0,0
51,TRAFFIC COUNT AT UTAH 12,2015,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,TRAFFIC COUNT AT UTAH 12,2014,"10,233","8,585","13,261","16,661","25,273","28,001","26,311","26,324","22,303","13,379","8,045","7,405"
53,TRAFFIC COUNT AT UTAH 12,2013,"24,809","11,265","17,660","23,290","36,947","30,001","27,031","26,438","22,790","10,244","8,214","7,398"
54,TRAFFIC COUNT AT UTAH 12,2012,"4,086","6,492","12,319","11,514","17,500","27,501","25,500","26,296","24,790","16,517","10,500","12,656"
55,TRAFFIC COUNT AT UTAH 12,2011,"5,304","8,939","8,589","12,687","17,093","21,593","19,340","24,063","13,974","8,007","3,996","3,151"
56,TRAFFIC COUNT AT UTAH 12,2010,"9,626","10,300","16,639","19,868","30,847","35,058","33,590","28,282","24,083","12,810","7,516","3,398"

In [10]:
path=os.path.join("Resources", "grand_canyon.csv")
grand_canyon = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
grand_canyon.head()


grand_canyon = grand_canyon.loc[grand_canyon['Year'] >= 2010]
grand_canyon

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT (DESERT VIEW),2020,"12,086","12,937","15,013",0,0,0,0,0,0,0,NaN,NaN
1,TRAFFIC COUNT (DESERT VIEW),2019,"10,650","8,998","25,938","31,530","37,040","33,218","35,052","34,998","31,970","30,354","16,517","13,656"
2,TRAFFIC COUNT (DESERT VIEW),2018,"11,838","12,107","27,425","28,726","34,185","31,648","34,639","34,507","32,023","26,234","19,000","16,174"
3,TRAFFIC COUNT (DESERT VIEW),2017,"8,395","10,438","25,079","28,763","31,924","39,534","35,381","34,697","31,306","28,927","18,648","16,710"
4,TRAFFIC COUNT (DESERT VIEW),2016,"8,411","8,400","27,021","24,137","31,288","31,624","35,204","33,707","30,869","28,496","17,360","13,275"
5,TRAFFIC COUNT (DESERT VIEW),2015,"8,376","9,973","21,886","22,848","28,653","28,662","33,769","32,271","27,501","24,062","14,228","12,050"
6,TRAFFIC COUNT (DESERT VIEW),2014,"6,756","9,606","17,088","19,429","23,386","23,193","28,924","29,798","29,798","21,889","13,119","11,246"
7,TRAFFIC COUNT (DESERT VIEW),2013,"6,174","5,784","15,156","16,057","21,909","23,123","26,868","29,347","24,109","12,123","9,594","9,594"
8,TRAFFIC COUNT (DESERT VIEW),2012,"6,083","6,422","14,074","18,647","23,300","23,504","27,321","27,229","23,823","20,480","12,274","8,471"
9,TRAFFIC COUNT (DESERT VIEW),2011,"5,731","5,237","13,798","17,542","20,577","23,695","27,028","27,288","22,678","18,370","9,592","6,776"
10,TRAFFIC COUNT (DESERT VIEW),2010,"5,016","5,477","13,947","16,907","22,033","26,190","28,256","33,245","23,744","19,239","9,787","6,570"
30,TRAFFIC COUNT (NORTH RIM),2020,0,0,0,0,0,0,0,"3,166","19,368",0,NaN,NaN
31,TRAFFIC COUNT (NORTH RIM),2019,0,0,0,0,"11,529","22,410","22,347","19,490","22,011","16,893",0,0
32,TRAFFIC COUNT (NORTH RIM),2018,0,0,0,0,"13,637","22,379","22,725","20,276","22,217","18,000","2,397",0
33,TRAFFIC COUNT (NORTH RIM),2017,0,0,0,0,"14,000","24,500","29,285","24,265","24,958","18,100",0,0
34,TRAFFIC COUNT (NORTH RIM),2016,0,0,0,0,"13,715","23,732","26,581","22,059","23,770","17,239",0,0
35,TRAFFIC COUNT (NORTH RIM),2015,0,0,0,0,"13,000","20,732","22,034","20,451","21,040","14,273",0,0
36,TRAFFIC COUNT (NORTH RIM),2014,0,0,0,0,"10,500","18,500","20,165","18,848","17,692","12,418",0,0
37,TRAFFIC COUNT (NORTH RIM),2013,0,0,0,0,"10,807","36,777","20,034","19,293","17,695",0,"1,500",0
38,TRAFFIC COUNT (NORTH RIM),2012,0,0,0,0,"10,694","18,575","18,718","16,522","17,312","11,378","1,816",0
39,TRAFFIC COUNT (NORTH RIM),2011,0,0,0,0,"10,039","19,060","20,049","19,868","18,196","11,015","1,714",0
40,TRAFFIC COUNT (NORTH RIM),2010,0,0,0,0,"11,613","20,458","20,827","19,712","19,283","11,490","2,009",0
60,TRAFFIC COUNT (SOUTH DISTRICT),2020,"74,001","77,809","79,624",0,"16,245","77,860","90,022","81,160","70,372",0,NaN,NaN
61,TRAFFIC COUNT (SOUTH DISTRICT),2019,"69,485","61,893","130,378","142,623","145,700","144,334","153,746","142,436","132,448","130,740","91,376","83,497"
62,TRAFFIC COUNT (SOUTH DISTRICT),2018,"80,328","80,882","146,963","142,251","148,606","152,456","165,000","154,051","141,477","132,000","103,778","96,540"
63,TRAFFIC COUNT (SOUTH DISTRICT),2017,"64,472","69,892","134,239","145,007","151,687","149,467","165,778","151,030","138,310","132,712","101,744","98,639"
64,TRAFFIC COUNT (SOUTH DISTRICT),2016,"64,805","74,878","143,497","126,976","152,098","150,888","168,653","150,523","141,878","132,554","99,049","87,962"
65,TRAFFIC COUNT (SOUTH DISTRICT),2015,"61,330","70,338","122,756","127,355","140,226","135,000","145,000","175,000","128,854","116,258","86,316","81,781"
66,TRAFFIC COUNT (SOUTH DISTRICT),2014,"56,073","55,918","102,975","78,417","122,812","128,286","125,749","144,248","118,121","108,508","81,076","77,463"
67,TRAFFIC COUNT (SOUTH DISTRICT),2013,"46,486","47,396","101,300","100,633","120,877","125,062","142,641","132,796","116,918","56,578","69,856","67,124"
68,TRAFFIC COUNT (SOUTH DISTRICT),2012,"48,525","51,079","87,098","102,011","107,503","119,660","138,773","128,890","112,878","99,258","68,064","58,361"
69,TRAFFIC COUNT (SOUTH DISTRICT),2011,"48,666","43,431","90,245","104,513","106,418","118,595","138,229","126,326","109,056","95,030","66,982","57,921"
70,TRAFFIC COUNT (SOUTH DISTRICT),2010,"41,894","42,743","91,435","101,569","105,880","121,054","139,043","128,029","121,180","97,214","70,203","55,320"
90,TRAFFIC COUNT (TUWEEP),2020,555,795,"1,467",0,0,"1,408","1,602","1,146","2,320","3,417",NaN,NaN
91,TRAFFIC COUNT (TUWEEP),2019,687,306,876,"4,191","1,710","2,436","1,197","1,308","1,836","2,824","1,530",316
92,TRAFFIC COUNT (TUWEEP),2018,"1,044","1,216","2,478","3,223","3,166","1,842",922,930,"2,754","1,912","2,154","1,266"
93,TRAFFIC COUNT (TUWEEP),2017,369,847,847,"2,661","2,953","1,341","1,422","1,087","1,531","3,183","1,794","1,560"
94,TRAFFIC COUNT (TUWEEP),2016,"1,005",930,"1,225","2,043","2,566","1,160",824,860,"1,016","1,700","1,501",439
95,TRAFFIC COUNT (TUWEEP),2015,406,959,309,"1,308","1,500","1,300",858,875,"1,431","1,584","1,200",654
96,TRAFFIC COUNT (TUWEEP),2014,301,341,892,"1,114","1,973","1,768",964,718,"1,328","1,997","1,503",780
97,TRAFFIC COUNT (TUWEEP),2013,142,273,649,684,"1,456",846,846,"1,554","1,030","1,260","1,122",486
98,TRAFFIC COUNT (TUWEEP),2012,185,197,584,556,"1,229",655,391,551,606,"1,257",712,270
99,TRAFFIC COUNT (TUWEEP),2011,120,107,601,900,"1,337",640,501,460,"1,039",667,389,319
100,TRAFFIC COUNT (TUWEEP),2010,127,250,470,953,940,495,450,600,"2,940",790,456,390

In [11]:
path=os.path.join("Resources", "grand_teton.csv")
grand_teton = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
grand_teton.head()

grand_teton = grand_teton.loc[grand_teton['Year'] >= 2010]
grand_teton

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT AT BUFFALO ENTRANCE,2020,"5,092","5,176","6,051",0,"21,103","61,457","90,644","88,368","83,181","41,204",NaN,NaN
1,TRAFFIC COUNT AT BUFFALO ENTRANCE,2019,"5,881","3,856","7,057","10,014","43,104","75,669","90,679","76,010","68,652","25,153","6,873","4,806"
2,TRAFFIC COUNT AT BUFFALO ENTRANCE,2018,"6,054","5,174","6,342","9,342","43,419","78,952","93,588","79,760","70,283","25,600","5,710","5,568"
3,TRAFFIC COUNT AT BUFFALO ENTRANCE,2017,"4,773","4,720","5,922","9,602","38,039","77,819","89,986","84,215","65,246","25,180","5,929","5,787"
4,TRAFFIC COUNT AT BUFFALO ENTRANCE,2016,"4,914","5,503","6,238","9,235","38,804","79,101","91,196","71,620","65,215","24,800","7,332","4,556"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,TRAFFIC COUNT AT US 89 (WESTBOUND),2014,"9,181","8,107","10,657","9,847","18,851","31,499","41,985","37,885","29,371","16,792","9,008","10,041"
157,TRAFFIC COUNT AT US 89 (WESTBOUND),2013,"8,481","8,285","10,862","9,218","18,493","33,195","43,430","37,515","28,628","15,512","8,447","10,009"
158,TRAFFIC COUNT AT US 89 (WESTBOUND),2012,"8,237","8,013","10,767","9,719","14,878","30,264","40,139","34,875","29,798","16,201","9,086","9,532"
159,TRAFFIC COUNT AT US 89 (WESTBOUND),2011,"8,965","9,178","10,770","8,600","15,979","29,505","39,604","34,809","28,768","16,222","8,959","8,947"
160,TRAFFIC COUNT AT US 89 (WESTBOUND),2010,"9,787","10,165","11,819","9,766","18,175","36,749","45,201","37,940","30,470","17,699","9,372","9,290"

In [13]:
path=os.path.join("Resources", "great_basin.csv")
great_basin = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
great_basin.head()


great_basin = great_basin.loc[great_basin['Year'] >= 2010]
great_basin

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT AT BAKER CREEK,2020,359,190,255,97,450,"2,062","3,072","2,311","2,959","2,334",240,NaN
1,TRAFFIC COUNT AT BAKER CREEK,2019,42,158,249,555,"1,489","3,285","3,357","3,238","2,888","1,081",266,140
2,TRAFFIC COUNT AT BAKER CREEK,2018,216,179,"2,001",834,"2,002","3,064","3,612","2,306","4,067","1,494",363,158
3,TRAFFIC COUNT AT BAKER CREEK,2017,179,179,302,801,"2,155","3,230","3,395","2,504","1,104","2,396",499,138
4,TRAFFIC COUNT AT BAKER CREEK,2016,102,205,926,926,"2,243","2,320","5,602","3,987","3,746","2,426",499,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,TRAFFIC COUNT AT WHEELER PEAK,2014,0,0,0,110,"1,739","1,004","5,287","3,521","2,789","1,000",260,114
210,TRAFFIC COUNT AT WHEELER PEAK,2013,0,0,41,95,"2,103",889,"4,815","3,295","2,678",197,237,124
211,TRAFFIC COUNT AT WHEELER PEAK,2012,0,0,0,87,"1,914",828,"4,785","3,468","2,766",382,228,118
212,TRAFFIC COUNT AT WHEELER PEAK,2011,0,0,0,90,"1,673",851,"4,674","3,016","3,213","1,334",134,0
213,TRAFFIC COUNT AT WHEELER PEAK,2010,0,0,0,69,"1,637",818,"4,164","3,142","2,493",923,115,0

In [15]:
path=os.path.join("Resources", "great_sand_dunes.csv")
great_sand_dunes = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
great_sand_dunes.head()


great_sand_dunes = great_sand_dunes.loc[great_sand_dunes['Year'] >= 2010]
great_sand_dunes

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT AT MEDANO PASS ROAD,2020,0,0,0,0,0,0,0,0,0,0,0,NaN
1,TRAFFIC COUNT AT MEDANO PASS ROAD,2019,0,0,0,0,0,0,0,0,0,0,0,0
2,TRAFFIC COUNT AT MEDANO PASS ROAD,2018,0,0,0,0,0,0,0,0,0,0,0,0
3,TRAFFIC COUNT AT MEDANO PASS ROAD,2017,0,0,0,0,0,100,400,350,290,200,100,0
4,TRAFFIC COUNT AT MEDANO PASS ROAD,2016,0,0,0,0,0,201,59,291,0,0,0,0
5,TRAFFIC COUNT AT MEDANO PASS ROAD,2015,0,0,0,0,0,12,293,274,290,165,38,0
6,TRAFFIC COUNT AT MEDANO PASS ROAD,2014,0,0,0,0,110,245,226,226,176,168,40,0
7,TRAFFIC COUNT AT MEDANO PASS ROAD,2013,0,0,0,0,246,249,78,168,249,28,57,0
8,TRAFFIC COUNT AT MEDANO PASS ROAD,2012,0,0,0,0,290,279,396,242,428,58,41,0
9,TRAFFIC COUNT AT MEDANO PASS ROAD,2011,0,0,0,0,263,380,218,268,0,15,0,0
10,TRAFFIC COUNT AT MEDANO PASS ROAD,2010,0,0,0,0,248,0,0,502,473,298,15,0
30,TRAFFIC COUNT AT PARK ENTRANCE,2020,"2,792","2,557","7,080","2,513",0,"25,868","32,770","31,073","26,207","21,722","7,724",NaN
31,TRAFFIC COUNT AT PARK ENTRANCE,2019,"2,432","2,301","7,036","10,641","23,658","39,889","32,817","25,918","20,810","13,048","3,890","2,523"
32,TRAFFIC COUNT AT PARK ENTRANCE,2018,"2,026","2,479","9,434","8,949","22,681","25,643","25,395","23,023","19,680","11,900","4,661","2,432"
33,TRAFFIC COUNT AT PARK ENTRANCE,2017,"1,830","2,853","8,798","9,774","23,083","31,426","30,515","23,200","18,576","12,017","4,603","3,370"
34,TRAFFIC COUNT AT PARK ENTRANCE,2016,"1,027","1,669","3,763","6,010","17,930","25,014","25,187","18,793","18,638","12,610","4,737","2,250"
35,TRAFFIC COUNT AT PARK ENTRANCE,2015,980,713,"3,140","4,630","12,560","19,526","17,718","17,051","14,014","9,161","1,861","1,283"
36,TRAFFIC COUNT AT PARK ENTRANCE,2014,990,751,"3,529","4,738","10,401","16,137","17,291","16,646","12,107","8,839","1,995","1,362"
37,TRAFFIC COUNT AT PARK ENTRANCE,2013,997,724,"4,029","4,646","11,693","15,592","16,449","12,844","11,752","2,891","2,282","1,426"
38,TRAFFIC COUNT AT PARK ENTRANCE,2012,"1,086","1,043","4,103","4,334","12,334","16,143","16,254","13,459","10,462","5,603","2,535","1,395"
39,TRAFFIC COUNT AT PARK ENTRANCE,2011,"1,015","1,215","3,731","4,194","14,569","18,590","19,541","14,139","10,662","5,993","2,284","1,466"
40,TRAFFIC COUNT AT PARK ENTRANCE,2010,943,"1,143","3,606","3,917","14,684","18,558","19,355","14,498","10,959","6,296","2,280","1,451"

In [17]:
path=os.path.join("Resources", "joshua_tree.csv")
joshua_tree = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
joshua_tree.head()


joshua_tree = joshua_tree.loc[joshua_tree['Year'] >= 2010]
joshua_tree

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT AT 29 PALMS,2020,"17,412","18,747","17,486",0,"8,112","18,000","9,156","9,800","13,000","17,974","25,134",NaN
1,TRAFFIC COUNT AT 29 PALMS,2019,"10,800","15,914","30,859","24,656","17,964","17,357","9,483","10,096","11,678","15,791","17,165","17,897"
2,TRAFFIC COUNT AT 29 PALMS,2018,"14,725","15,829","25,749","19,731","16,218","10,197","8,886","10,130","8,926","15,298","18,374","17,314"
3,TRAFFIC COUNT AT 29 PALMS,2017,"15,943","17,754","28,014","26,359","14,291","8,501","8,630","9,635","10,226","15,321","16,779","16,646"
4,TRAFFIC COUNT AT 29 PALMS,2016,"11,325","14,362","18,312","12,706","17,060","6,811","12,158","12,158","10,723","16,586","15,726","16,776"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,TRAFFIC COUNT AT JOSHUA TREE,2014,"8,042","18,521","24,670","22,350","15,348","8,894","8,921","11,274","10,769","16,686","23,094","23,866"
152,TRAFFIC COUNT AT JOSHUA TREE,2013,"14,438","14,811","24,634","21,759","14,119","8,752","8,119","10,194","13,857","8,533","19,285","16,661"
153,TRAFFIC COUNT AT JOSHUA TREE,2012,"14,111","15,728","22,948","22,518","14,572","8,596","9,019","9,493","10,949","13,512","16,602","16,111"
154,TRAFFIC COUNT AT JOSHUA TREE,2011,"15,080","13,682","21,810","23,072","15,424","9,752","8,613","8,312","10,638","15,495","16,283","15,484"
155,TRAFFIC COUNT AT JOSHUA TREE,2010,"14,747","15,015","23,514","22,580","16,469","8,950","8,290","9,138","9,583","13,734","16,039","13,177"

In [18]:
path=os.path.join("Resources", "mesa_verde.csv")
mesa_verde = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
mesa_verde.head()

mesa_verde = mesa_verde.loc[mesa_verde['Year'] >= 2010]
mesa_verde

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT AT MAIN ENTRANCE ON HWY 10,2020,"3,066","3,254","4,551",0,"2,744","16,100","16,554","18,686","18,364","15,295",NaN,NaN
1,TRAFFIC COUNT AT MAIN ENTRANCE ON HWY 10,2019,92,"1,813","6,421","12,896","23,915","32,394","34,881","26,937","27,369","18,663","4,563","3,579"
2,TRAFFIC COUNT AT MAIN ENTRANCE ON HWY 10,2018,"3,656","3,303","8,693","13,933","26,071","30,094","32,356","26,488","26,871","17,361","5,580","3,733"
3,TRAFFIC COUNT AT MAIN ENTRANCE ON HWY 10,2017,"2,623","2,623","8,641","13,949","26,293","33,608","36,485","29,590","28,478","19,151","6,065","4,957"
4,TRAFFIC COUNT AT MAIN ENTRANCE ON HWY 10,2016,"2,927","3,567","8,605","11,924","24,178","32,550","37,092","29,458","29,513","19,751","6,068","3,429"
5,TRAFFIC COUNT AT MAIN ENTRANCE ON HWY 10,2015,"2,706","2,675","6,233","12,342","22,261","29,331","34,764","27,944","25,704","16,962","4,800","3,935"
6,TRAFFIC COUNT AT MAIN ENTRANCE ON HWY 10,2014,"2,798","2,924","7,128","11,789","21,170","26,906","31,063","26,969","18,400","13,857","4,432","2,390"
7,TRAFFIC COUNT AT MAIN ENTRANCE ON HWY 10,2013,"2,636","2,561","6,054","9,656","20,878","25,976","30,153","25,572","22,036","3,895","4,756","3,463"
8,TRAFFIC COUNT AT MAIN ENTRANCE ON HWY 10,2012,"3,051","2,855","6,199","10,267","20,828","26,101","30,371","24,967","22,001","15,212","4,507","3,300"
9,TRAFFIC COUNT AT MAIN ENTRANCE ON HWY 10,2011,"2,864","2,671","6,194","10,069","23,500","33,250","35,500","30,500","25,500","13,923","4,322","3,567"
10,TRAFFIC COUNT AT MAIN ENTRANCE ON HWY 10,2010,"2,182","2,362","5,591","10,922","22,222","33,000","34,344","30,236","24,988","15,298","4,686","3,702"
28,TRAFFIC COUNT AT WETHERILL,2020,0,0,0,0,0,0,0,0,0,0,NaN,NaN
29,TRAFFIC COUNT AT WETHERILL,2019,0,0,0,0,0,0,0,0,0,0,0,0
30,TRAFFIC COUNT AT WETHERILL,2018,0,0,0,0,0,0,0,0,0,0,0,0
31,TRAFFIC COUNT AT WETHERILL,2017,0,0,0,0,0,0,0,0,0,0,0,0
32,TRAFFIC COUNT AT WETHERILL,2016,0,0,0,0,0,0,0,0,0,0,0,0
33,TRAFFIC COUNT AT WETHERILL,2015,0,0,0,0,0,0,0,0,0,0,0,0
34,TRAFFIC COUNT AT WETHERILL,2014,0,0,0,0,0,0,0,0,0,0,0,0
35,TRAFFIC COUNT AT WETHERILL,2013,0,0,0,0,0,0,0,0,0,0,0,0
36,TRAFFIC COUNT AT WETHERILL,2012,0,0,0,0,0,0,0,0,0,0,0,0
37,TRAFFIC COUNT AT WETHERILL,2011,0,0,0,0,0,0,0,0,0,0,0,0
38,TRAFFIC COUNT AT WETHERILL,2010,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
path=os.path.join("Resources", "rocky_mountain_np.csv")
rocky_mounatin_np = pd.read_csv(path, header=[3], encoding='utf-8', delimiter=",")
rocky_mounatin_np.head()

rocky_mounatin_np = rocky_mounatin_np.loc[rocky_mounatin_np['Year'] >= 2010]
rocky_mounatin_np

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT AT BEAVER MEADOWS,2020,"21,073","18,384","18,025",0,"8,611","83,526","110,886","89,023","85,509","52,693",NaN,NaN
1,TRAFFIC COUNT AT BEAVER MEADOWS,2019,"14,831","17,255","26,870","30,421","51,505","104,230","134,367","116,190","120,247","62,886","21,943","21,050"
2,TRAFFIC COUNT AT BEAVER MEADOWS,2018,"19,370","14,912","28,798","25,834","52,409","104,557","122,313","115,079","121,821","57,996","22,641","16,525"
3,TRAFFIC COUNT AT BEAVER MEADOWS,2017,"15,519","15,576","25,767","29,066","46,681","110,003","133,387","116,200","110,922","58,070","23,159","21,070"
4,TRAFFIC COUNT AT BEAVER MEADOWS,2016,"21,633","18,332","24,677","23,424","49,700","98,569","123,203","105,785","108,942","69,336","29,748","14,517"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,TRAFFIC COUNT AT WILD BASIN,2014,300,129,161,565,"3,685","6,979","9,331","8,181","5,897","2,598",624,384
132,TRAFFIC COUNT AT WILD BASIN,2013,"1,264",460,463,599,"2,808","7,886","9,810","8,155","2,402",689,485,457
133,TRAFFIC COUNT AT WILD BASIN,2012,528,270,901,"1,169","3,294","8,063","10,602","8,900","6,982","6,669",773,457
134,TRAFFIC COUNT AT WILD BASIN,2011,356,236,529,589,"1,992","6,047","11,470","8,004","1,599","3,207",409,462
135,TRAFFIC COUNT AT WILD BASIN,2010,215,164,154,258,"1,108","3,096","4,530","3,676","2,994",559,306,178

In [20]:
path=os.path.join("Resources", "capitol_reef.csv")
capitol_reef = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
capitol_reef.head()

capitol_reef = capitol_reef.loc[capitol_reef['Year'] >= 2010]
capitol_reef

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,Total Traffic Count at Bullfrog,2020,258,258,610,671,"1,460","1,166",450,664,"1,814","1,854",760,NaN
1,Total Traffic Count at Bullfrog,2019,157,447,"2,595",174,"1,639",807,551,823,643,"1,253",555,575
2,Total Traffic Count at Bullfrog,2018,189,276,907,"1,578","1,116",751,564,780,798,605,548,495
3,Total Traffic Count at Bullfrog,2017,128,208,684,"1,080","1,129",952,608,667,620,"1,713",133,262
4,Total Traffic Count at Bullfrog,2016,112,222,565,740,990,564,504,487,609,854,567,848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,TRAFFIC COUNT ON US 24 EAST/WEST effective 2010,2014,"5,263","4,708","14,083","20,496","33,655","26,641","24,969","28,133","30,288","27,859","10,129","6,797"
268,TRAFFIC COUNT ON US 24 EAST/WEST effective 2010,2013,"4,713","5,277","12,949","15,500","29,407","22,966","21,867","23,226","26,992","20,061","10,030","4,732"
269,TRAFFIC COUNT ON US 24 EAST/WEST effective 2010,2012,"4,932","5,074","10,154","19,072","30,573","25,713","24,640","24,771","26,572","23,362","9,350","4,686"
270,TRAFFIC COUNT ON US 24 EAST/WEST effective 2010,2011,"4,739","4,957","9,940","19,447","25,222","30,470","27,489","25,415","29,061","22,390","7,307","5,058"
271,TRAFFIC COUNT ON US 24 EAST/WEST effective 2010,2010,"4,784","5,018","10,709","18,408","30,602","28,734","26,334","24,914","31,500","21,697","7,970","5,709"

In [23]:
path=os.path.join("Resources", "carlsbad_caverns.csv")
carlsbad_caverns = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
carlsbad_caverns.head()

carlsbad_caverns = carlsbad_caverns.loc[carlsbad_caverns['Year'] >= 2010]
carlsbad_caverns

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT AT MAIN ENTRANCE,2020,"9,781","1,762","6,703","1,000","1,100","3,450","7,376","6,490","6,219","7,919","3,188",NaN
1,TRAFFIC COUNT AT MAIN ENTRANCE,2019,"1,398","9,011","18,832","14,805","17,002","20,548","22,681",0,"11,990","14,000","9,500","10,890"
2,TRAFFIC COUNT AT MAIN ENTRANCE,2018,"9,057","9,488","21,696","13,495","16,187","20,350","22,462","15,328","11,990","14,357","9,943","6,122"
3,TRAFFIC COUNT AT MAIN ENTRANCE,2017,"8,237","9,104","22,141","16,371","19,290","22,592","27,520","16,701","13,356","13,956","11,769","10,784"
4,TRAFFIC COUNT AT MAIN ENTRANCE,2016,"5,581","5,859","17,067","10,975","17,152","21,308","28,598","17,150","14,862","15,626","10,603","10,890"
5,TRAFFIC COUNT AT MAIN ENTRANCE,2015,"4,939","7,233","16,935","12,927","15,967","21,425","27,305","18,420","9,245","13,587","7,682","7,994"
6,TRAFFIC COUNT AT MAIN ENTRANCE,2014,"7,264","7,322","15,112","12,845","14,351","18,306","21,850","17,535","8,189","11,418","7,303","9,124"
7,TRAFFIC COUNT AT MAIN ENTRANCE,2013,"6,292","6,955","16,780","11,081","14,537","19,155","22,794","17,004","11,228","4,630","7,952","8,151"
8,TRAFFIC COUNT AT MAIN ENTRANCE,2012,"6,506","6,371","14,524","11,468","13,619","18,658","21,620","15,100","11,037","10,845","7,834","8,034"
9,TRAFFIC COUNT AT MAIN ENTRANCE,2011,"9,204","7,379","1,859","10,570","14,261","16,142","17,730","22,552","10,625","10,795","7,659","6,998"
10,TRAFFIC COUNT AT MAIN ENTRANCE,2010,"9,785","7,449","26,000","12,500","15,000","21,500","26,500","17,938","13,091","7,455","7,661","7,661"
28,TRAFFIC COUNT AT RATTLESNAKE SPRINGS,2020,503,456,825,759,892,"1,832",784,859,885,928,933,NaN
29,TRAFFIC COUNT AT RATTLESNAKE SPRINGS,2019,577,673,"1,215","1,965","1,268","1,576","1,835","1,348","1,902","1,714","1,137",722
30,TRAFFIC COUNT AT RATTLESNAKE SPRINGS,2018,466,704,"1,254","3,167","1,361","5,719","6,732",930,"1,169","9,690",865,471
31,TRAFFIC COUNT AT RATTLESNAKE SPRINGS,2017,466,485,961,"3,162","7,989",784,874,630,646,580,"7,281",434
32,TRAFFIC COUNT AT RATTLESNAKE SPRINGS,2016,712,440,"1,792","1,810","3,134","1,409","3,210",296,"1,022",843,580,434
33,TRAFFIC COUNT AT RATTLESNAKE SPRINGS,2015,630,234,"1,190","1,910","2,421","1,611","3,414","1,260","1,006",916,720,259
34,TRAFFIC COUNT AT RATTLESNAKE SPRINGS,2014,846,943,"1,044","1,851","2,272","1,578","1,529","1,294","2,000",218,220,296
35,TRAFFIC COUNT AT RATTLESNAKE SPRINGS,2013,547,483,588,"1,891","1,587","1,381","1,489","2,600","4,054",508,896,649
36,TRAFFIC COUNT AT RATTLESNAKE SPRINGS,2012,527,762,985,"2,166","1,793","1,030","1,001",922,314,"1,194",785,684
37,TRAFFIC COUNT AT RATTLESNAKE SPRINGS,2011,551,942,"1,518","1,609","1,504","1,580","1,288",101,966,"1,600",749,747
38,TRAFFIC COUNT AT RATTLESNAKE SPRINGS,2010,450,600,"1,074","1,008","1,050","1,300","1,826","1,056",257,"4,431","4,541","1,490"

In [24]:
path=os.path.join("Resources", "death_valley.csv")
death_valley = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
death_valley.head()

death_valley = death_valley.loc[death_valley['Year'] >= 2010]
death_valley

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,Adj Traffic Count Phinney Canyon,2020,0,0,0,0,0,0,0,0,0,0,0,NaN
1,Traffic Count at Ashford Road,2020,"1,702","1,721","1,647",372,107,90,382,268,301,590,"1,937",NaN
2,Traffic Count at Ashford Road,2019,"1,543","1,656","2,871","2,719","2,441","1,417","1,650","1,644","1,345","1,260","1,816","1,471"
3,Traffic Count at Ashford Road,2018,"1,520","1,942","2,757","2,222","2,339","1,295","1,652","2,271","1,759","2,587","1,586","1,583"
4,Traffic Count at Ashford Road,2017,"1,538","1,372","2,409","2,554","2,153","1,389","2,185","2,724",821,"1,793","1,756","2,343"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,Traffic Count at Wildrose,2014,615,625,"1,002","1,521",896,791,759,987,988,"1,268","1,206","1,207"
212,Traffic Count at Wildrose,2013,554,"2,237","4,571","4,460","2,818","1,715",579,0,0,97,87,390
213,Traffic Count at Wildrose,2012,554,50,374,"1,661","1,129",659,764,"1,802","2,072","2,642","3,147","2,167"
214,Traffic Count at Wildrose,2011,110,694,"1,540",340,258,48,94,39,138,88,19,40
215,Traffic Count at Wildrose,2010,110,398,731,702,258,127,139,98,52,88,51,40

In [25]:
path=os.path.join("Resources", "petrified_forest.csv")
pertified_forest = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
pertified_forest.head()

pertified_forest = pertified_forest.loc[pertified_forest['Year'] >= 2010]
pertified_forest

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT AT I-40 COUNTER,2020,"9,693","9,473","12,364",0,500,"11,330","13,086","11,807","12,896","14,949","11,530",NaN
1,TRAFFIC COUNT AT I-40 COUNTER,2019,"5,900","6,722","15,203","14,666","20,475","20,117","19,462","14,456","14,557","16,061","9,184","9,186"
2,TRAFFIC COUNT AT I-40 COUNTER,2018,"7,547","7,691","15,133","12,012","20,693","17,900","16,690","13,408","14,876","14,429","7,785","8,000"
3,TRAFFIC COUNT AT I-40 COUNTER,2017,"7,673","6,110","14,496","12,500","16,505","16,898","16,684","16,500","12,679","18,235","9,121","8,320"
4,TRAFFIC COUNT AT I-40 COUNTER,2016,"5,953","6,645","12,100","13,858","15,213","19,300","24,186","15,121","14,268","12,715","7,915","6,532"
5,TRAFFIC COUNT AT I-40 COUNTER,2015,"5,270","6,690","12,229","11,761","15,723","17,458","18,050","11,550","11,651","11,790","7,604","6,930"
6,TRAFFIC COUNT AT I-40 COUNTER,2014,"4,473","4,136","10,006","12,250","23,587","15,370","15,224","12,730","11,910","26,060","7,072","7,654"
7,TRAFFIC COUNT AT I-40 COUNTER,2013,"5,189","5,279","12,956","10,569","12,689","14,400","16,502","11,890","11,769","6,217","4,063","4,506"
8,TRAFFIC COUNT AT I-40 COUNTER,2012,"5,230","5,317","13,547","10,751","12,789","14,843","13,599","11,893","11,498","11,543","6,486","5,649"
9,TRAFFIC COUNT AT I-40 COUNTER,2011,"4,586","4,567","10,007","10,127","12,110","14,477","14,599","11,243","10,830","10,358","6,658","4,741"
10,TRAFFIC COUNT AT I-40 COUNTER,2010,"4,812","4,872","10,405","10,751","13,684","16,976","14,962","12,536","11,997","11,678","6,956","6,361"
29,TRAFFIC COUNT AT NORTH ENTRANCE (NORTH LANE #2),2020,"5,908","4,322","8,474",0,450,"9,347","9,382","7,711","9,095","11,112","8,404",NaN
30,TRAFFIC COUNT AT NORTH ENTRANCE (NORTH LANE #2),2019,695,"3,581","10,823","10,439","13,891","13,600","13,334","10,680","10,960","10,960","5,990","5,244"
31,TRAFFIC COUNT AT NORTH ENTRANCE (NORTH LANE #2),2018,"4,454","4,750","9,391","10,045","11,600","13,887","12,035","11,000","10,893","11,046","6,444","2,900"
32,TRAFFIC COUNT AT NORTH ENTRANCE (NORTH LANE #2),2017,"3,655","4,187","10,083","9,317","12,383","12,690","12,500","12,000","9,651","13,678","5,567","4,990"
33,TRAFFIC COUNT AT NORTH ENTRANCE (NORTH LANE #2),2016,"3,622","4,259","10,151","8,510","11,856","14,565","13,562","8,141","10,219","10,010","5,941","4,369"
34,TRAFFIC COUNT AT NORTH ENTRANCE (NORTH LANE #2),2015,"2,736","3,722","8,480","8,162","11,362","12,831","12,931","9,716","9,597","8,910","4,571","3,926"
35,TRAFFIC COUNT AT NORTH ENTRANCE (NORTH LANE #2),2014,"2,295","2,147","8,677","9,922","9,372","10,989","10,718","8,711","8,492","8,145","4,097","3,551"
36,TRAFFIC COUNT AT NORTH ENTRANCE (NORTH LANE #2),2013,"3,222","3,069","6,846","6,738","9,545","10,889","10,800","8,648","8,950","2,882","2,763","2,295"
37,TRAFFIC COUNT AT NORTH ENTRANCE (NORTH LANE #2),2012,"3,091","3,083","6,200","6,733","9,411","10,877","10,669","9,657","7,771","7,519","2,991","3,448"
38,TRAFFIC COUNT AT NORTH ENTRANCE (NORTH LANE #2),2011,"2,715","2,493","6,574","6,602","8,780","10,444","10,382","7,549","9,086","7,143","3,781","2,680"
39,TRAFFIC COUNT AT NORTH ENTRANCE (NORTH LANE #2),2010,"2,523","2,578","7,008","7,398","9,878","12,444","12,204","9,491","8,771","8,350","4,016","3,019"
58,TRAFFIC COUNT AT SOUTH ENTRANCE (NORTH LANE #1),2020,"2,971","4,570","5,518",0,250,"4,712","4,965","4,216","5,000","5,953","4,152",NaN
59,TRAFFIC COUNT AT SOUTH ENTRANCE (NORTH LANE #1),2019,370,"2,024","6,187","7,065","7,292","6,980","6,265","3,542","5,781","5,402","3,120","3,147"
60,TRAFFIC COUNT AT SOUTH ENTRANCE (NORTH LANE #1),2018,"2,380","3,238","6,000","7,204","7,469","11,720","6,526","5,200","7,000","5,353","3,676","1,460"
61,TRAFFIC COUNT AT SOUTH ENTRANCE (NORTH LANE #1),2017,"1,932","2,784","6,699","6,645","6,988","6,550","6,692","5,207","5,682","6,111","3,629","2,920"
62,TRAFFIC COUNT AT SOUTH ENTRANCE (NORTH LANE #1),2016,"1,555","2,831","7,120","6,990","7,465","7,800","6,747","5,350","6,032","6,300","3,921","2,656"
63,TRAFFIC COUNT AT SOUTH ENTRANCE (NORTH LANE #1),2015,"2,799","6,321","14,078","14,651","15,828","16,090","17,996","12,980","13,603","6,850","4,416","5,575"
64,TRAFFIC COUNT AT SOUTH ENTRANCE (NORTH LANE #1),2014,"3,848","5,478","12,593","13,125","14,404","15,880","16,606","14,153","12,521","12,654","7,250","5,542"
65,TRAFFIC COUNT AT SOUTH ENTRANCE (NORTH LANE #1),2013,"3,033","3,656","9,887","10,405","12,764","13,734","15,500","11,779","11,289","4,109","4,177",580
66,TRAFFIC COUNT AT SOUTH ENTRANCE (NORTH LANE #1),2012,"3,337","3,380","8,772","4,542","11,090","13,121","14,951","11,657","11,348","10,489","5,399","3,659"
67,TRAFFIC COUNT AT SOUTH ENTRANCE (NORTH LANE #1),2011,"2,484","3,106","8,805","9,703","10,316","10,667","12,484","9,552","10,261","9,042","4,934","2,851"
68,TRAFFIC COUNT AT SOUTH ENTRANCE (NORTH LANE #1),2010,"1,846","3,257","7,386","12,875","10,326","13,285","13,958","11,055","5,276","10,500","5,127","3,324"

In [26]:
path=os.path.join("Resources", "yellowstone.csv")
yellowstone = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
yellowstone.head()

yellowstone = yellowstone.loc[yellowstone['Year'] >= 2010]
yellowstone

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT AT EAST GATE,2020,0,0,0,0,"8,490","27,724","43,432","41,329","33,634","12,182",0,NaN
1,TRAFFIC COUNT AT EAST GATE,2019,0,0,0,0,"18,801","34,648","42,513","36,209","29,618","6,473",181,0
2,TRAFFIC COUNT AT EAST GATE,2018,0,0,0,0,"21,220","37,213","44,370","37,559","33,889","6,280",21,0
3,TRAFFIC COUNT AT EAST GATE,2017,0,0,0,0,"18,050","40,951","49,506","43,342","25,808","8,018",32,0
4,TRAFFIC COUNT AT EAST GATE,2016,0,0,0,0,"19,711","40,217","49,411","41,213","33,982","9,334",980,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,TRAFFIC COUNT ON HIGHWAY 191,2014,"44,764","42,812","50,406","48,150","74,028","112,050","150,133","137,950","102,540","69,502","42,240","43,710"
157,TRAFFIC COUNT ON HIGHWAY 191,2013,"42,408","45,472","51,894","47,040","76,415","112,770","151,187","138,012","100,830","61,876","43,440","41,726"
158,TRAFFIC COUNT ON HIGHWAY 191,2012,"39,835","43,094","48,608","47,520","71,610","102,510","148,025","130,820","98,880","64,945","41,730","40,610"
159,TRAFFIC COUNT ON HIGHWAY 191,2011,"39,246","39,256","43,772","41,160","64,604","101,340","144,801","133,145","100,230","64,170","41,790","42,222"
160,TRAFFIC COUNT ON HIGHWAY 191,2010,"31,496","33,852","40,672","37,200","61,814","97,890","141,639","131,471","99,480","64,449","29,790","36,301"

In [27]:
path=os.path.join("Resources", "zion.csv")
zion = pd.read_csv(path, header=[2], encoding='utf-8', delimiter=",")
zion.head()

zion = zion.loc[zion['Year'] >= 2010]
zion

,GroupDescription,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,TRAFFIC COUNT AT CANYON DRIVE,2020,0,0,0,0,0,0,0,0,0,0,NaN,NaN
1,TRAFFIC COUNT AT CANYON DRIVE,2019,0,0,0,0,0,0,0,0,0,0,0,0
2,TRAFFIC COUNT AT CANYON DRIVE,2018,0,0,0,0,0,0,0,0,0,0,0,0
3,TRAFFIC COUNT AT CANYON DRIVE,2017,"15,604","18,652","21,695","13,222",0,0,0,0,0,0,0,0
4,TRAFFIC COUNT AT CANYON DRIVE,2016,0,0,0,0,0,0,0,0,0,0,0,0
5,TRAFFIC COUNT AT CANYON DRIVE,2015,0,0,0,0,0,0,0,0,0,0,0,0
6,TRAFFIC COUNT AT CANYON DRIVE,2014,0,0,0,0,0,0,0,0,0,0,0,0
7,TRAFFIC COUNT AT CANYON DRIVE,2013,0,0,0,0,0,0,0,0,0,0,0,0
8,TRAFFIC COUNT AT CANYON DRIVE,2012,0,0,0,0,0,0,0,0,0,0,0,0
9,TRAFFIC COUNT AT CANYON DRIVE,2011,0,0,0,0,0,0,0,0,0,0,0,0
10,TRAFFIC COUNT AT CANYON DRIVE,2010,0,0,0,0,0,0,0,0,0,0,0,0
30,TRAFFIC COUNT AT EAST ENTRANCE,2020,"9,924","11,267","17,400","5,612","20,920","35,479","40,999","37,154","47,517","47,600",NaN,NaN
31,TRAFFIC COUNT AT EAST ENTRANCE,2019,"9,265","8,216","17,030","19,375","46,110","47,365","47,206","43,265","46,395","41,956","18,949","13,708"
32,TRAFFIC COUNT AT EAST ENTRANCE,2018,"9,942","10,864","28,036","37,878","50,475","48,334","46,189","42,133","46,176","39,514","19,942","13,664"
33,TRAFFIC COUNT AT EAST ENTRANCE,2017,"8,365","10,122","28,842","45,766","50,058","49,835","51,639","50,539","46,958","40,030","20,570","13,872"
34,TRAFFIC COUNT AT EAST ENTRANCE,2016,"8,544","10,690","29,056","35,831","47,170","48,971","50,713","42,263","47,400","42,841","22,024","11,204"
35,TRAFFIC COUNT AT EAST ENTRANCE,2015,"7,539","9,653","22,976","38,318","45,439","46,753","49,643","46,254","43,719","36,126","16,463","10,245"
36,TRAFFIC COUNT AT EAST ENTRANCE,2014,"6,794","5,186","17,833","27,467","42,933","40,842","41,124","35,720","39,311","33,430","15,582","14,287"
37,TRAFFIC COUNT AT EAST ENTRANCE,2013,"5,340","5,998","17,075","27,714","34,211","35,239","38,550","34,153","37,371","25,282","12,590","9,378"
38,TRAFFIC COUNT AT EAST ENTRANCE,2012,"7,372","7,091","12,171","27,837","37,401","36,654","40,676","38,876","38,131","27,859","12,486","7,181"
39,TRAFFIC COUNT AT EAST ENTRANCE,2011,"5,849","6,894","15,095","19,825","32,943","37,819","38,424","35,442","29,486","23,391","11,870","8,644"
40,TRAFFIC COUNT AT EAST ENTRANCE,2010,"5,186","5,098","15,095","22,653","30,939","19,998","31,957","29,130","29,486","20,468","8,997","6,288"
60,TRAFFIC COUNT AT KOLOB CANYON,2020,"3,135","3,740","7,341","1,966",395,0,0,"5,822","32,620","34,820",NaN,NaN
61,TRAFFIC COUNT AT KOLOB CANYON,2019,0,0,"8,907","13,959","13,076","11,881","9,718","8,535","10,801","10,660","5,654","3,203"
62,TRAFFIC COUNT AT KOLOB CANYON,2018,"6,939","4,536","10,633","12,081",0,0,0,0,0,0,0,0
63,TRAFFIC COUNT AT KOLOB CANYON,2017,"3,675","3,778","8,594","12,722","13,852","1,582","11,578","10,412","12,245","12,122","7,080","4,490"
64,TRAFFIC COUNT AT KOLOB CANYON,2016,"3,716","4,606","8,953","9,879","12,365","11,189","10,746","11,066","12,164","10,492","5,847","3,954"
65,TRAFFIC COUNT AT KOLOB CANYON,2015,"3,127","4,857","7,131","9,833","11,480","9,898","9,934","9,273","10,358","9,387","4,805","3,707"
66,TRAFFIC COUNT AT KOLOB CANYON,2014,"2,693","3,030","7,208","8,956","21,094","11,189","9,858","9,360","9,210","9,504","4,993","2,728"
67,TRAFFIC COUNT AT KOLOB CANYON,2013,"3,108","2,444","5,692","7,055","8,927","8,256","7,769","7,708","8,792","7,978","5,608","3,581"
68,TRAFFIC COUNT AT KOLOB CANYON,2012,"2,348","2,364","4,601","6,747","8,985","7,353","7,380","7,161","7,851","8,136","3,959","2,471"
69,TRAFFIC COUNT AT KOLOB CANYON,2011,"2,089","2,161","3,995","6,623","8,277","13,564","8,112","7,150","7,837","7,675","3,386","2,325"
70,TRAFFIC COUNT AT KOLOB CANYON,2010,"2,324","2,315","4,810","6,819","9,048","9,127","8,937","7,958","8,569","7,308","3,405","2,008"
90,TRAFFIC COUNT AT KOLOB TERRACE,2020,0,0,0,0,0,0,0,0,0,0,NaN,NaN
91,TRAFFIC COUNT AT KOLOB TERRACE,2019,0,0,0,0,0,0,0,0,0,0,0,0
92,TRAFFIC COUNT AT KOLOB TERRACE,2018,0,0,0,0,0,0,0,0,0,0,0,0
93,TRAFFIC COUNT AT KOLOB TERRACE,2017,0,0,0,0,0,0,0,0,0,0,0,0
94,TRAFFIC COUNT AT KOLOB TERRACE,2016,0,0,0,0,0,0,0,0,0,0,0,0
95,TRAFFIC COUNT AT KOLOB TERRACE,2015,0,0,0,0,0,0,0,0,0,0,0,0
96,TRAFFIC COUNT AT KOLOB TERRACE,2014,0,0,0,0,0,0,0,0,0,0,0,0
97,TRAFFIC COUNT AT KOLOB TERRACE,2013,0,0,0,0,0,0,0,0,0,0,0,0
98,TRAFFIC COUNT AT KOLOB TERRACE,2012,"1,145","1,234",0,0,0,0,0,0,0,0,0,0
99,TRAFFIC COUNT AT KOLOB TERRACE,2011,"1,145","1,145","1,145","1,300","5,000","5,000","6,555","4,323","4,323","4,111","6,160","1,800"
100,TRAFFIC COUNT AT KOLOB TERRACE,2010,"1,145","1,145","1,145","1,300","2,850","5,000","6,555","7,013","4,323","2,483","6,160","1,800"
120,TRAFFIC COUNT AT SOUTH ENTRANCE,2020,"39,720","37,733","49,426","11,926","47,917","89,669","89,594","90,929","102,942","106,708",NaN,NaN
121,TRAFFIC COUNT AT SOUTH ENTRANCE,2019,"34,299","32,810","70,754","81,809","104,642","103,638","106,345","100,222","101,941","84,041","59,239","44,086"
122,TRAFFIC COUNT AT SOUTH ENTRANCE,2018,"31,971","40,529","83,985","99,156","113,458","106,721","102,538","97,598","103,829","95,046","61,602","47,663"
123,TRAFFIC COUNT AT SOUTH ENTRANCE,2017,"28,421","34,654","78,096","91,660","99,259","102,578","105,941","98,794","105,011","92,066","66,632","43,921"
124,TRAFFIC COUNT AT SOUTH ENTRANCE,2016,"26,671","37,207","78,005","79,555","96,431","99,122","102,856","83,545","96,280","91,433","67,696","41,028"
125,TRAFFIC COUNT AT SOUTH ENTRANCE,2015,"26,813","34,933","63,708","71,118","90,096","92,909","92,806","91,388","85,872","80,843","57,606","31,986"
126,TRAFFIC COUNT AT SOUTH ENTRANCE,2014,"24,718","27,255","61,272","66,837","86,781","80,165","85,792","84,401","76,589","78,044","52,652","31,048"
127,TRAFFIC COUNT AT SOUTH ENTRANCE,2013,"18,235","21,460","59,645","63,922","76,275","80,126","79,614","73,680","78,948","53,180","44,671","23,550"
128,TRAFFIC COUNT AT SOUTH ENTRANCE,2012,"20,830","22,764","44,962","66,365","74,747","74,790","77,807","72,541","73,174","67,365","44,357","22,703"
129,TRAFFIC COUNT AT SOUTH ENTRANCE,2011,"21,267","20,958","41,481","56,597","73,251","68,457","70,692","69,558","67,698","65,796","42,502","22,388"
130,TRAFFIC COUNT AT SOUTH ENTRANCE,2010,"17,546","20,124","43,441","62,124","69,442","75,516","74,628","64,988","66,211","58,815","45,049","22,515"